<p id="notice"><%= notice %></p>

<p>
  <strong>Tag type:</strong>
  <%= @rfid_tag.tag_type %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @rfid_tag.tag_id %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @rfid_tag.plant %>
</p>

<p>
  <strong>Package:</strong>
  <%= @rfid_tag.package %>
</p>

<%= link_to 'Edit', edit_rfid_tag_path(@rfid_tag) %> |
<%= link_to 'Back', rfid_tags_path %>
