<%= simple_form_for(@field) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :num_rows %>
    <%= f.input :num_columns %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
